body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #76cdff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.search {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-icon {
    font-size: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.icon img {
    width: 70px;
    height: 60px;
}
.footer-icon img {
    width: 30px;
    height: 30px;
}